body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}

.fontXLarge {
  font-size: x-large;
}

.pt_50px {
  padding-top: 50px;
}

.ml_5px {
  margin-left: 5px;
}

.ml_15px {
  margin-left: 15px;
}